.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
}

#btn_clr, #btn_lastClr {
    color: white;
    background: rgb(212,75,56);
  }
  
#btn_calc {
    color: rgb(75, 0, 205);
    background: rgb(255, 255, 136);
  }

#btn_1, #btn_2, #btn_3, #btn_4, #btn_5, #btn_6, #btn_7, #btn_8, #btn_9, #btn_0 {
    color: white;
    background: rgb(46, 0, 183);
}

#calc {
    background: rgb(37, 0, 53);
}

#btn_sum, #btn_def, #btn_mult, #btn_divis, #btn_root, #btn_degr {
    color: white;
    background: rgb(0, 114, 42);
}

#btn_pm, #btn_sep {
    color: rgb(75, 0, 205);
    background: rgb(255, 141, 1);
}

#btn_М1, #btn_М2, #Memory1, #Memory2 {
    margin-top: 6px;
    font-size: 13px;
}

#Memory1, #Memory2 {
    background: rgb(255, 255, 255);

}

#btn_М1, #btn_М2 {
    color: rgb(0, 206, 252);
}